@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Create Student</h2>
    
    <br />
    <br />
    <ul class="navbar-nav flex-grow-1">

        <li class="nav-item">
            <a class="btn btn-secondary" asp-area="" asp-controller="Students" asp-action="Add">Create</a>
        </li>
    </ul>

    

</div>


